<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <title>Foregather</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="static/img/logo.jpg" type="image/x-icon"/>

    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/ueditor/themes/default/css/umeditor.css}"/>

    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/jquery.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/template.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.config.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/lang/zh-cn/zh-cn.js}"/>

    <style type="text/css">
        body {
            color: white;
        }
    </style>

</head>

<body th:fragment="htmlbody(navtype)">

<div class="container">

    <div class="header">
        <div class="sky"></div>
        <div class="nav">
            <ul>
                <li th:class="${navtype} == 'memory' ? 'selected'"><a href="index.html" th:href="@{/memory}">独家记忆</a></li>
                <li th:class="${navtype} == 'blog' ? 'selected'"><a href="index.html" th:href="@{/blog}">我的博客</a></li>
                <li th:class="${navtype} == 'filemgr' ? 'selected'"><a href="index.html" th:href="@{/filemgr}">文件管理</a></li>
                <li th:class="${navtype} == 'toolkit' ? 'selected'"><a href="index.html" th:href="@{/toolkit}">实用工具</a></li>
            </ul>
        </div>
        <div class="star"></div>
    </div>

    <div class="content">

        <div class="left-frame">
            <div id="blog_owner_logo">
            </div>
            <div id="blog_owner_name">Captain</div>
            <div id="blog_actions">
                <ul>
                    <li>浏览：12345 次</li>
                    <li>性别：男</li>
                    <li>来自：中国上海</li>
                    <li>
                        <img src="../static/img/offline.gif" th:src="@{/static/img/offline.gif}"/>
                    </li>
                </ul>
            </div>
            
            <div class="left_frame_menu" th:if="${navtype} == 'blog' ? true : false">
                <h5>文章分类</h5>

                <div class="blog_categories" th:if="${not #lists.isEmpty(categories)}">
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{/blog/category(id=${category.id})}"
                               th:text="${category.name}">摄影学习</a>
                        </li>

                        <li th:remove="all">
                            <a href="index.html">电影分享</a>
                        </li>
                        <li th:remove="all">
                            <a href="index.html">技术文章</a>
                        </li>
                        <li th:remove="all">
                            <a href="index.html">生活随笔</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="left_frame_menu" th:if="${navtype} == 'memory' ? true : false">
                <h5>文章分类</h5>

                <div class="blog_categories" th:if="${not #lists.isEmpty(categories)}">
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{/blog/category(id=${category.id})}"
                               th:text="${category.name}">test</a>
                        </li>

                        <li>
                            <a href="index.html">memory</a>
                        </li>
                        <li th:remove="all">
                            <a href="index.html">test</a>
                        </li>
                        <li th:remove="all">
                            <a href="index.html">test</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="main-frame">

            <div class="blogs_preview" th:if="${not #lists.isEmpty(articles)}">
                <div class="blog_main_title">
                    <span>文章列表</span>
                </div>
                <div class="blog_main" th:each="article : ${articles}">
                    <div class="blog_info" th:text="${#calendars.format(article.publishDate, 'yyyy-MM-dd HH:mm:SS')}">
                        2017-11-21 15:30:29
                    </div>
                    <div class="blog_title">
                        <a th:href="@{/blog/view(id=${article.id})}" th:text="${article.subject}">写给2017</a>
                    </div>
                </div>

                <div class="blog_main" th:remove="all">
                    <div class="blog_info">
                        2017-11-21 15:30:29
                    </div>
                    <div class="blog_title">
                        <a href="index.html">展望2018</a>
                    </div>
                </div>
                <div class="blog_main" th:remove="all">
                    <div class="blog_info">
                        2017-10-15 22:59:40
                    </div>
                    <div class="blog_title">
                        <a href="index.html">Thymeleaf使用心得</a>
                    </div>
                </div>

            </div>

            <div class="blogs_preview"
                 th:if="${#lists.isEmpty(articles)} ? (${currentArticle == null} ? true : false): false">
                <div class="blog_main_title">
                    <span th:text="没有文章"></span>
                </div>
            </div>

            <div class="blog_view" th:if="${currentArticle != null}" th:object="${currentArticle}">
                <div class="blog_title">
                    <span th:text="*{subject}"></span>
                </div>
                <div class="blog_content" th:utext="*{content}"></div>
            </div>

        </div>

    </div>

</div>

</body>

</html>
