<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to My Blog</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="static/img/logo.jpg" type="image/x-icon"/>

    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/ueditor/themes/default/css/umeditor.css}"/>

    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/jquery.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/template.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.config.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/lang/zh-cn/zh-cn.js}"/>

    <style type="text/css">
        body {
            color: white;
        }
    </style>

</head>

<body>

<div class="container">

    <div class="header">
        <div class="sky"></div>
        <div class="nav">
            <ul>
                <li>我的博客</li>
                <li>照片墙</li>
                <li>设置</li>
            </ul>
        </div>
        <div class="star"></div>
    </div>

    <div class="content">

        <div class="left-frame">
            <div id="blog_owner_logo">
            </div>
            <div id="blog_owner_name">Captain</div>
            <div id="blog_actions">
                <ul>
                    <li>浏览：12345 次</li>
                    <li>性别：男</li>
                    <li>来自：中国上海</li>
                    <li>
                        <img th:src="@{/static/img/offline.gif}"/>
                    </li>
                </ul>
            </div>
            <div id="blog_menu">
                <h5>文章分类</h5>

                <div th:if="${not #lists.isEmpty(categories)}">
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{/article/byCategory(id=${category.id})}"
                               th:text="${category.name}"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="main-frame">

            <div class="blogs_preview" th:if="${not #lists.isEmpty(articles)}">
                <div class="blog_main_title">
                    <span>文章列表</span>
                </div>
                <div class="blog_main" th:each="article : ${articles}">
                    <div class="blog_title">
                        <a th:href="@{/article/byId(id=${article.id})}" th:text="${article.subject}"></a>
                    </div>
                </div>
            </div>

            <div class="blogs_preview" th:if="${#lists.isEmpty(articles)}">
                <div class="blog_main_title">
                    <span>没有文章</span>
                </div>
            </div>

            <div class="blog_view" th:if="${currentArticle != null}" th:object="${currentArticle}">
                <div class="blog_title">
                    <span th:text="*{subject}"></span>
                </div>
                <div class="blog_content" th:utext="*{content}"></div>
            </div>

        </div>

    </div>

</div>

</body>

</html>
