<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage My Blogs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/ueditor/themes/default/css/umeditor.css}"/>

    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/jquery.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/template.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.config.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/lang/zh-cn/zh-cn.js}"/>

</head>
<body>

<!--<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h2>文章</h2>
    <div th:each="category : ${categories}">
        <p th:text="${category.name}">sample category</p>
        <table width="100%" border="1" cellspacing="1" cellpadding="0">
            <tr>
                <td>Article Name</td>
                <td>Content</td>
            </tr>
            &lt;!&ndash;/*@thymesVar id="articleList" type=""*/&ndash;&gt;
            <tr th:each="article : ${category.articles}">
                <td th:text="${article.subject}">empty</td>
                <td th:text="${article.content}">empty</td>
            </tr>
        </table>
    </div>
</div>-->

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h2>文章</h2>
    <div th:each="categoryEntry : ${categoryArticleMap}">
        <div th:each="category : ${categoryEntry.key}">
            <p th:text="${category.name}">sample category</p>
            <table width="100%" border="1" cellspacing="1" cellpadding="0">
                <tr>
                    <td>ID</td>
                    <td>Article Name</td>
                    <td>Content</td>
                </tr>
                <div th:each="articleEntry : ${categoryArticleMap}">
                    <tr th:each="article : ${articleEntry.value}">
                        <td th:text="${article.id}">empty</td>
                        <td th:text="${article.subject}">empty</td>
                        <td th:text="${article.content}">empty</td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</div>

</body>
</html>
