<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage My Blogs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/ueditor/themes/default/css/umeditor.css}"/>

    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/jquery.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/third-party/template.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.config.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/umeditor.min.js}"/>
    <link rel="text/javascript" th:href="@{/static/js/ueditor/lang/zh-cn/zh-cn.js}"/>

</head>
<body>

    <div style="width: 960px; margin-left: auto; margin-right: auto">
        <div id="blog-list" style="float: left; top: 0px; width: 200px;">
            <ul>
            </ul>
        </div>
        <div id="blog-detail" style="float: left; width: 600px;">
        </div>
    </div>


    <script th:inline="javascript">
        $(function(){
            $.ajax({
                url:"/article/load",
                data:{
                },
                type:"get",
                dataType: "json",
                success:function(text){
                    alert(text);
                }
            });
        });
    </script>


</body>
</html>
