<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish Article</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/ueditor/themes/default/css/umeditor.css}"/>

    <script th:src="@{/static/js/ueditor/third-party/jquery.min.js}"></script>
    <script th:src="@{/static/js/ueditor/third-party/template.min.js}"></script>
    <script th:src="@{/static/js/ueditor/umeditor.config.js}"></script>
    <script th:src="@{/static/js/ueditor/umeditor.min.js}"></script>
    <script th:src="@{/static/js/ueditor/lang/zh-cn/zh-cn.js}"></script>

</head>
<!--<body th:background="@{/static/img/bg.gif}" style="text-align: left;">-->
<body th:attr="background=@{/static/img/bg.gif}" style="text-align: left;">
<div style="width: 960px; margin-left: auto; margin-right: auto;">
    <h1 style="color: #ffffff; margin-left: 300px;">Write Article</h1>

    <div id="additional-info" style="margin-bottom: 50px;"/>

    <table style="color: #ffffff; font-size: 14px;">
        <tr>
            <td>Title</td>
            <td>
                <input id="subject" type="text"/>
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select id="category">
                    <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                </select>
            </td>
        </tr>
    </table>
</div>

<div id="myEditor" style="width:800px;height:240px; font-size: 14px;">
</div>

<!--<button onclick="getContent()">提交</button>-->



</div>
</body>
</html>
