<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish Article</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/ueditor/themes/default/css/umeditor.css}"/>

    <script th:src="@{/static/js/ueditor/third-party/jquery.min.js}"></script>
    <script th:src="@{/static/js/ueditor/third-party/template.min.js}"></script>
    <script th:src="@{/static/js/ueditor/umeditor.config.js}"></script>
    <script th:src="@{/static/js/ueditor/umeditor.min.js}"></script>
    <script th:src="@{/static/js/ueditor/lang/zh-cn/zh-cn.js}"></script>

</head>
<!--<body th:attr="background=@{/static/img/bg.gif}" style="text-align: left;">-->
<body>

<div class="container">
    <form onsubmit="return encapsulateArticle()" action="#" th:action="@{/article/saveArticle}" th:method="post">
        
        <h1 style="margin-left: 300px;">发表文章</h1>

        <div id="additional-info" style="margin-bottom: 50px;"/>

        <table style="color: #ffffff; font-size: 14px;">
            <tr>
                <td>文章标题</td>
                <td>
                    <input type="text" name="subject"/>
                </td>
            </tr>
            <tr>
                <td>文章分类</td>
                <td>
                    <select name="category.name">
                        <option th:each="category : ${categories}" th:value="${category.name}"
                                th:text="${category.name}"></option>
                    </select>
                </td>
            </tr>
        </table>

        <input id="content" name="content" th:hidden="hidden"/>

        <div id="myEditor" style="width:800px;height:240px; font-size: 14px;">
        </div>

        <input type="submit"/>

    </form>

</div>

<script type="text/javascript">

    var um = UM.getEditor('myEditor');

    function encapsulateArticle() {
        var blogContent = um.getContent();
        console.log(blogContent);
        $('#content').val(blogContent);
        return true;
    }

</script>

</body>
</html>
