body {
    background: url("../img/bg.gif");
    color: floralwhite;
    text-align: left;
    margin-top: 0px;
}

.hidden {
    display: none;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.edui-container {
    color: #000;
}

.container > .header {
    height: 100px;
    border: dotted 1px #d5e1f2;
}

.container > .content {
    width: 100%;
    margin-top: 10px;
}

.container > .content > .left-frame {
    width: 180px;
    border: dotted 1px #d5e1f2;
    padding: 5px 5px 5px 5px;
    float: left;
}

.container > .content > .left-frame > #blog_owner_logo {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: dotted 1px #d5e1f2;
}

.container > .content > .left-frame > #blog_actions > ul > li {
    list-style: none;
    margin-top: 10px;
}

.container > .content > .left-frame > #blog_owner_name {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #d5e1f2;
}

.container > .content > .main-frame {
    width: 760px;
    border: dotted 1px #d5e1f2;
    float: right;
}

.container > .content > .main-frame > div > .blog_main_title {
    text-align: center;
    margin: 20px 0px 20px 0px;
    /*padding-bottom: 5px;*/
}

.container > .content > .main-frame > div > .blog_main {
    width: 80%;
    margin: 8px auto;
    text-align: center;
    border-bottom: dotted 1px aquamarine;
}

.container > .content > .main-frame > div > .blog_title {
    text-align: center;
    margin: 20px 10px 25px 10px;
}

